body {
  background-color: #282c34;
}

.App {
  height: 100%;
}

h1 {
  color: #cccccc;
}

button {
  margin-right: 2px;
}

.btn {
  min-width: 100px;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.status-bar {
  padding: 0 5px;
  width: 100%;
  background-color: #DDDDDD;
  font-size: 10pt;
  color: #333333;
}